<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_nested_form_for(@user, :url => registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.input :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div>
     <%= f.input :username, autofocus: true %>
  </div>

  <div class="field">
  <%= f.input :password,hint: "leave it blank if you don't want to change it",required: false,  input_html: { autocomplete: "new-password" } %>
    <% if @minimum_password_length %>
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.input :password_confirmation, required: false, input_html: { autocomplete: "new-password" } %>
  </div>

  <div class="field">
    <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: false, input_html: { autocomplete: "current-password" } %>
  </div>

  <br>
  <h3> My Profile </h3>
  <div class="field">
    <%= f.input :avatar, as: :file %>
  </div>

  <div class="field">
    <%= f.input :city, hint: 'Where do you live?' %>
  </div>

  <div class="field">
    <%= f.input :description, as: :text, hint: 'Write something about you :)' %>
  </div>

  <div id="user-skills">
    <hr>
    <b> Skills </b>

    <div id="user-skills-form">
      <%= f.fields_for(:skills) do |skill| %>
        <div class="field">
          <%= skill.input :level, collection: Skill.levels.keys %>
        </div>

        <div class="field">
          <%= skill.input :sport, collection: Sport.all,
          label_method: :name, value_method: :id,
          selected: skill.object.sport_id %>
        </div>

        <div class="remove-skill">
          <%= skill.link_to_remove do %>
  	        <button type="button">Remove skill</button>
          <% end %>
        </div>
      <% end %>
    </div>
    <hr>

    <div id="add-skill">
      <%= f.link_to_add :skills, :data => { :target => "#user-skills-form" } do %>
        <button type="button">+ Add skill</button>
      <% end %>
    </div>

  </div>

  <div class="actions">
    <%= f.button :submit, "Confim changes" %>
  </div>
<% end %>

<%# <h3>Cancel my account</h3> %>

<%= link_to "Back", :back %>
