<h1>View Profile</h1>
<div class="cotainer">
  <div class="col-md-12">
    <div class="profile">
<%=image_tag @user.avatar_url,  class: "profile-avatar" if @user.avatar_url%>

<p class="commenter"><%=@user.username %></p>

<p><%=@user.city %></p>

<p><%=@user.description %></p>
<table class="skills">
<% @user.skills.each do |skill| %>

    <tr>
      <td class="edit-delete"><%=image_tag skill.sport.icon if skill.sport.icon%></td>
      <td><%=skill.sport.name %></td>
      <td><%=skill.level %></td>
      </tr>

<% end %>
</table>
</div>
</div>
</div>
