<%=image_tag @user.avatar_url,  class: "profile-avatar" if @user.avatar_url%>
<h1><%=@user.username %></h1>

<h1><%=@user.city %></h1>

<h1><%=@user.description %></h1>

<% @user.skills.each do |skill| %>
<table class="event-container">
    <tr>
      <td class="ball"><%=image_tag skill.sport.icon if skill.sport.icon%></td>
      <td><%=skill.sport.name %></td>
      <td><%=skill.level %></td>
      </tr>
  </table>
<% end %>
