<h1>View Profile</h1>
<div class="profile">
<div class="cotainer">
  <div class="row-section">
  <div class="col-md-4 line">

<%=image_tag @user.avatar_url,  class: "profile-avatar" if @user.avatar_url%>
</div>

<div class="col-md-6 line">
<p class="commenter"><%=@user.username %></p>

<p><%=@user.city %></p>

<p><%=@user.description %></p>
</div>
</div>
<div class="row-section">
  <div class="col-md-12">
<table class="skills">

<th>SKILLS</th>
<% @user.skills.each do |skill| %>
    <tr>
      <td class="edit-delete"><%=image_tag skill.sport.icon if skill.sport.icon%></td>
      <td><%=skill.sport.name %></td>
      <td><%=skill.level %></td>
      </tr>
<% end %>
</table>
</div>
</div>
</div>
</div>
