<div class="form">
<%= simple_nested_form_for @event do |f| %>

  <p>
    <%= f.input :title %>
  </p>

  <p>
    <%= f.association :sport, required: false %>
  </p>

  <p>
    <%= f.input :capacity %>
  </p>

  <p>
    <%= f.input :started_at %>
  </p>

  <p>
    <%= f.input :ended_at %>
  </p>

  <p>
    <%= f.input :description %>
  </p>

  <!--  <p><%#= f.submit %></p>-->
  <p>
    <%= f.button :submit, class: "submit" %>
  </p>

<% end %>
</div>
