<div id="filterrific_results">
  <div class="container-body">
    <div class="row">
      <div class="col-12">
        <% @events.each do |event| %>
        <ul class="event-container">
          <li>
            <div class="row-item time"><%=event.started_at.to_date() %></div>
            <div class="row-item event-item"><%=link_to event.title, event_path(event) %>
            <p><%=event.place.name %></p></div>
            <div class="row-item ball"><%=image_tag event.sport.icon if event.sport.icon %>
            <p><%= event.users.count %> / <%= event.capacity %> </div></p>
          </li>
        </ul>
        <% end %>
        <%= paginate @events , theme: 'twitter-bootstrap-4'%>
      </div>
</div>
