<%= render 'navbar' %>
<div class="container-body">
  <div class="row">
    <div class="col-12">
      <% @events.each do |event| %>
      <table class="event-container">
        <tr>
          <td class="time"><%=event.started_at.to_date() %></td>
          <td class="event-title"><%= event.title %></td>
          <td>Capacity: <%= event.capacity %></td>
          <td class="ball"><%=image_tag('football.png')%></td>
          <td><%= link_to 'Show', event_path(event) %></td>
        </tr>
      </table>
      <% end %>
    </div>
  </div>
</div>
