<div class="container">
  <div class="row-event">
    <div class="col-md-8">
      <h1><strong><%= @event.title %></strong></h1>
    </div>
    <div class="col-md-4">
      <div class=buttons>
      <%= link_to edit_event_path(@event), class: "edit-delete" do %>
        <%= image_tag "edit.png"%>
      <% end %>
      <%= link_to event_path(@event), method: :delete,
                      data: {confirm: "Are you sure you want to delete this event?"},
                      class: "edit-delete" do %>
      <%= image_tag "delete.png"%>
      <% end %>
      </div>
    </div>
  </div>
  <div class="row-event">
    <div class="col-md-8">
      <div class="section description">
        <table>
        <th>DESCRIPTION</th>
        <tr><td><p><%= @event.description %></p></td></tr>
        </table>
      </div>
    <div class="section attendees">
      <table>
        <th> ATTENDEES</th>
          <% @event.users.each do |user| %>
            <tr>
              <td>  <%= link_to user_path(user) do %>
              <%= image_tag user.avatar_url, alt: user.username if user.avatar_url %>
              <% end %></td>
            </tr>
          <% end %>
      </table>
    </div>
    <div class="section comments">
      <%= render partial: 'comments/show'%>
    </div>
    <div class="add-comment">
      <%= render partial: 'comments/form'%>
    </div>
  </div>
  <div class="col-md-4">
    <div class="section details" >
        <%= image_tag @event.sport.icon, class: "sport-icon" %>
      <p>
        <strong>Capacity:</strong>
        <%= @event.users.count %> / <%= @event.capacity %>
      </p>
      <p>
        <strong>Start:</strong>
        <%= @event.started_at.strftime('%a, %d %b %Y %H:%M:%S') %>
      </p>
        <strong>End:</strong>
        <%= @event.ended_at.strftime('%a, %d %b %Y %H:%M:%S') %>
    </div>
    <div>
      <% if @event.users.find_by(id: current_user) %>
    <p>    <%= link_to 'Leave', leave_event_path(@event),class: "btn btn-danger join-leave", method: :delete %></p>
      <% else %>
    <p>    <%= link_to 'Join', join_event_path(@event), class: "btn btn-primary join-leave" %></p>
      <% end %>
    </div>
  </div>
</div>
