<div class="container">
  <div class="row-event">
    <div class="col-md-8">
      <h1><strong><%= @event.title %></strong></h1>
    </div>
    <div class="col-md-4">
      <div class=buttons>
        <% if policy(@event).update? %>
          <%= link_to edit_event_path(@event), class: "edit-delete" do %>
            <%= image_tag "edit.png" %>
          <% end %>
        <% end %>

        <% if policy(@event).destroy? %>
          <%= link_to event_path(@event), method: :delete,
                      data: {confirm: "Are you sure you want to delete this event?"},
                      class: "edit-delete" do %>
            <%= image_tag "delete.png" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row-event">
    <div class="col-md-8">
      <div class="section description">
        <table>
          <th>DESCRIPTION</th>
          <tr>
            <td><p><%= @event.description %></p></td>
          </tr>
          <tr>
            <td>
              <p><strong>Sport: </strong><%= @event.sport.name %></p>
            </td>
          </tr>
        </table>
      </div>
      <div class="section attendees">
        <div class="attendee-entry">
          <table>
            <th>OWNER</th>
            <tr>
              <td>
                <%= link_to user_path(@event.owner) do %>
                  <%= image_tag @event.owner.avatar_url :thumb, alt: @event.owner.username %>
                  <b><%= @event.owner.username %></b>
                  <% if @event.owner.skill_level(@event.sport.name) %>
                    (<%= @event.owner.skill_level(@event.sport.name) %>)
                  <% end %>
                <% end %>
              </td>
            </tr>
          </table>
          <table>
            <th> ATTENDEES</th>
            <% @event.participants.each do |p| %>
              <tr>
                <td>
                  <%= link_to user_path(p) do %>
                    <%= image_tag p.avatar_url :thumb, alt: p.username %>
                    <b><%= p.username %></b>
                    <% if p.skill_level(@event.sport.name) %>
                      (<%= p.skill_level(@event.sport.name) %>)
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
      <div class="section comments">
        <%= render partial: 'comments/show' %>
      </div>
      <div class="add-comment">
        <%= render partial: 'comments/form' if user_signed_in? %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="section details">
        <% if @event.sport.icon %>
          <%= image_tag @event.sport.icon, class: "sport-icon" %>
        <% end %>
        <p>
          <strong>Capacity:</strong>
          <%= @event.users.count %> / <%= @event.capacity %>
        </p>
        <p>
          <strong>Start:</strong>
          <%= @event.started_at.strftime('%a, %d %b %Y %H:%M:%S') %>
        </p>
        <p>
          <strong>End:</strong>
          <%= @event.ended_at.strftime('%a, %d %b %Y %H:%M:%S') %>
        </p>
        <div>
          <% if @event.users.find_by(id: current_user) %>
            <p>    <%= link_to 'Leave', leave_event_path(@event), class: "btn btn-danger join-leave", method: :delete if policy(@event).leave? %></p>
          <% else %>
            <p>    <%= link_to 'Join', join_event_path(@event), class: "btn btn-primary join-leave" if policy(@event).join? %></p>
          <% end %>
        </div>
        <div>
          <strong>Where? </strong><%= @event.place.name %>
        </div>

        <div>
          <%= render 'location' %>
        </div>

        <div>
          <%= render 'weather' %>
        </div>

        <div>
          <% if !@event.place.owner.blank? %>
            <strong>Place owner:</strong>
            <%= @event.place.owner %>
          <% end %>
          <br>
          <% if !@event.place.phone_number.blank? %>
            <strong>Contact owner:</strong>
            <%= @event.place.phone_number %>
          <% end %>
        </div>
      </div>
      <div>
      </div>

    </div>
  </div>
</div>
