<h1>Title</h1>
<%= form_tag places_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search Near", :name => nil %>
  </p>
<% end %>

<table>
  <tr>
    <th>Address</th>
    <th>Latitude</th>
    <th>Longitude</th>
  </tr>
  <% @places.each do |place| %>
    <tr>
      <td><%= place.address %></td>
      <td><%= place.latitude %></td>
      <td><%= place.longitude %></td>
      <td><%= link_to "Show", place_path(place), class: "tn btn-info" %></td>
      <td><%=  link_to "Edit", edit_place_path(place), class: "btn btn-xs btn-primary" %></td>
      <!--  <td><%#= link_to "Destroy", place, confirm: 'Are you sure?', method: :delete %>-->
      <td> <%= link_to "Delete ", place_path(place), method: :delete,
                       data: {confirm: "Are you sure you want to delete the article?"},
                       class: "btn btn-xs btn-danger" %> </td>


    </tr>
  <% end %>
</table>

<p><%= link_to "New Place", new_place_path %></p>
