<h1>The Meeting Place</h1>
<p>
  <strong>Address:</strong>
  <%= @place.address %>
</p>
<p>
  <strong>Latitude:</strong>
  <%= @place.latitude %>
</p>
<p>
  <strong>Longitude:</strong>
  <%= @place.longitude %>
</p>

<strong>Contact:</strong>
<%= @place.contact %>
</p>

<strong>Day:</strong>
<%= @place.day %>
</p>

<strong>Hour:</strong>
<%= @place.hour %>
</p>


<p>
  <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=17&size=400x300&center=#{@place.latitude},#{@place.longitude}&key=#{'AIzaSyDGxp3TxEkOY9b5eWj4nRiBBGMeYULdSSI'}", alt: "Map" %>
</p>

<p><%= link_to "My Places", places_path, class: "btn btn-success" %></p>
<p><%= link_to "Edit", edit_place_path(@place), class: "btn btn-xs btn-primary" %></p>