<!DOCTYPE html>
<html>
  <head>
    <title>Teamup</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'layouts/navbar'%>
    <% flash.each do |name,msg| %>
      <% next if name.to_s == 'timedout' %>
      <div class="alert alert-<%= name %>">
        <%= msg %>
        <button aria-label="Close" class="close" data-dismiss="alert" type="button">
          <span aria-hidden="true">×</span>
        </button>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
